<p>chat-screen works!</p>

</html>

<title>Layout 1</title>
<link rel="stylesheet" href="style.css">


<script src="https://kit.fontawesome.com/3a2d634f16.js" crossorigin="anonymous"></script>

<div class="container">

    <aside class="left-panel">

        <div class="top">

            <button class="novo-botao">
                <i class="fa-solid fa-plus"></i>
                New Chat
            </button>

            <div class="ponto-container">
                <button class="ponto">
                    <i class="fa-regular fa-message"></i>
                    Chat Tool Ethics
                </button>

                <button class="ponto"> <i class="fa-regular fa-message"></i>


                    All Chat Tool Impact Writing</button>
                <button class="ponto">
                    <i class="fa-regular fa-message"></i>

                    Chat
                </button>


            </div>

        </div>

        <div class="bottom">

            <button class="ponto">
                <i class="fa-solid fa-trash-can"></i>
                Clear Conversations
            </button>

            <button class="ponto">
                <i class="fa-regular fa-sun"></i>
                Light Mode
            </button>

            <button class="ponto">My Account
                <i class="fa-regular fa-user"></i>
            </button>

            <button class="ponto">
                <i class="fa-solid fa-question"></i>
                Updates & FAQ
            </button>

            <button class="ponto">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                Log out
            </button>

        </div>



    </aside>


    <header>

    </header>


    <main class="central-panel">

        <img class="titulo" src="../assets/imgs/Chat (2).png">
</div>

<div class="colunas">

    <div class="coluna">

        <h1>
            <i class="fa-regular fa-comments"></i>
            Examples
        </h1>

        <p class="texto">"Explain Quantum Compunting Insiple Terms"</p>
        <p class="texto">"Got Any Creative Ideas For a 10year old's birthday'</p>
        <p class="texto">'How Do I Make an HTTP requestin Javascript'</p>


    </div>

    <div>


        <h1>
            <i class="fa-solid fa-star"></i>
            Capatibles
        </h1>
        <p class="texto">"Remembers what user saidearlier in the conversation."</p>
        <p class="texto">"Allow user to provide follow-up corrections.'</p>
        <p class="texto">'Trained to decline inappropriate requests. '</p>
    </div>

    <div>

        <h1>
            <i class="fa-solid fa-circle-exclamation"></i>
            Limitations
        </h1>
        <p class="texto">"May occasionally generate incorrect information."</p>
        <p class="texto">"May occasionally produce harmful instructions or biased content.'</p>
        <p class="texto">'Limited knowledge of world andevents after 2021.'</p>

    </div>

</div>
<div class="input-container">

    <i class="fa-solid fa-microphone"></i>

    <input type="text" placeholder="type message">
    <i class="send-button fa-solid fa-paper-plane"></i>

</div>

</main>
<footer>

</footer>
</div>

</html>