/* You can add global styles to this file, and also import other style files */
* {
  /* Todos os elementos */
  padding: 0px;
  /*margem interna de um elemento */
  margin: 0px;
  /*margem externa de um elemento */
  box-sizing: border-box;
  /*muda a estrutura de espacamentos */
  font-family: "inter"



}

.error-message {

  color: red;
  font-size: 12px;
  transform: translateY(-12px);
  translate: (-90px);

}

.error-password {

  color: red;
  font-size: 12px;
  transform: translateY(-12px);
  translate: (-90px);



}